<nav class="custom-nav">
  <div class="nav-wrapper container">
    <a class="brand-logo">
      <i class="material-icons">business</i>
      My App
    </a>
    <ul class="right">
      <li class="menu-item">
        <a class="menu-item-link" routerLink="/praxis">Praxis</a>
      </li>
      <li class="menu-item">
        <a class="menu-item-link" routerLink="/leistungen">Leistungen</a>
      </li>
      <li class="menu-item">
        <a class="menu-item-link" routerLink="/team">Team</a>
      </li>
      <li class="menu-item">
        <a class="menu-item-link" routerLink="/kontakt">Kontakt</a>
      </li>
      <li class="menu-item">
        <a class="menu-item-link" routerLink="/jobs">Jobs</a>
      </li>
    </ul>
    <button class="custom-btn">Termin Vereinbaren</button>

    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>
