<div class="container">
  <h1 class="title center-align">Wichtigkeit der Zahnpflege</h1>
  <p class="center-align">
    Zahnpflege ist nicht nur eine Frage der Ästhetik, sondern auch der
    Gesundheit. Zähne spielen eine entscheidende Rolle im Verdauungsprozess und
    beeinflussen unsere allgemeine Gesundheit. Eine richtige Zahnpflege hilft,
    Zahnfleischerkrankungen, Karies und schwerwiegendere Probleme wie
    Zahnverlust zu vermeiden.
  </p>

  <button class="scroll-button left" (click)="scrollLeft()">
    <i class="material-icons">chevron_left</i>
  </button>

  <div class="cards-wrapper" #cardsWrapper>
    <div
      class="card"
      *ngFor="let card of cards"
      (click)="openVideo(card.videoUrl)"
    >
      <img [src]="card.picture" alt="Zähne" />
      <div class="watch-video-overlay">Watch Video</div>
      <div class="card-content">
        <h2>{{ card.title }}</h2>
      </div>
    </div>
  </div>

  <button class="scroll-button right" (click)="scrollRight()">
    <i class="material-icons">chevron_right</i>
  </button>

  <div *ngIf="isModalOpen" class="modal-overlay">
    <div class="modal-content">
      <button (click)="closeVideo($event)" class="close-button">X</button>
      <iframe
        class="iframe"
        [src]="videoUrl | safe"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
